* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #1f2937;
}

.navbar {
  font-weight: bolder;
  font-size: 48px;
  color: #f9faf8;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-family: "Roboto", sans-serif;
}

.links {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  gap: 18px;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.headerimg {
  width: 40%;
  border-radius: 6px;
  max-width: 100%;
}
.container {
  display: flex;
  font-family: "Roboto", sans-serif;
  padding: 60px;
  margin: 0px;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.text {
  font-size: 18px;
  color: #e5e7eb;
  font-family: "Roboto", sans-serif;
  flex-wrap: wrap;
  flex-basis: 40%;
}

.headertext {
  font-size: 18px;
  color: #e5e7eb;
  font-family: "Roboto", sans-serif;
  flex-wrap: wrap;
  flex-basis: 40%;
}

button {
  display: flex;
  background-color: #3882f6;
  border-radius: 4px;
  border: none;
  color: #e5e7eb;
  font-family: "Roboto", sans-serif;
  padding: 9px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  font-weight: bold;
  flex-wrap: wrap;
}

.fleet-text {
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  font-family: "Roboto", sans-serif;
  text-align: center;

  padding: 20px;
}

.fleet-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #e5e7eb;
  flex-wrap: wrap;
}

.fleet-images {
  border-radius: 8px;
  border: solid #3882f6;
  height: 213px;
}

.a3502 {
  border-radius: 8px;
  border: solid #3882f6;
  height: 212px;
}

.fleet-desc {
  background-color: #e5e7eb;
  font-size: 18px;
  font-weight: bolder;
  color: #1f2937;
  font-family: "Roboto", sans-serif;
  display: flex;

}
